[submodule "lib/EventEmitter"]
	path = lib/EventEmitter
	url = git://github.com/Wolfy87/EventEmitter.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "lib/socket.io-client"]
	path = lib/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
