[submodule "lib/EventEmitter"]
	path = lib/EventEmitter
	url = git://github.com/Wolfy87/EventEmitter.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = git://github.com/documentcloud/underscore.git
