!!! 5
%html
  %head
    %script{:src => 'js/lib/socket.io.min.js'}
    %script{:src => 'js/gh_event.js'}
    %script{:src => 'js/query_builder.js'}
    %script{:src => 'js/background_page.js'}
  %body
