!!! 5
%html
  %head
    %script{:src => 'http://www2049u.sakura.ne.jp:4000/socket.io/socket.io.js'}
    %script{:src => 'js/gh_event_handler.js'}
    %script{:src => 'js/background_page.js'}
  %body
    :javascript
