!!! 5
%html
  %head
    %link{:rel => 'stylesheet', :href => 'css/style.css'}
    %script{:src => 'js/lib/jquery.min.js'}
    %script{:src => 'js/lib/underscore-min.js'}
    %script{:src => 'js/lib/EventEmitter.min.js'}
    %script{:src => 'js/query_builder.js'}
    %script{:src => 'js/store.js'}
    %script{:src => 'js/browser_action.js'}

  %body
    %section#content
      %h1
        Your following list for GitHub

      .watchAreaAboutUser
        %h2 The events you should receive:
        .watchAreaContent.loading
          %img.icon{:src => '../images/loading.gif'}
        .watchAreaContent.loggedIn{'style' => 'display:none;'}
          %form
            %img.icon{:src => '../images/loading.gif'}
            Receive notification about YOU.
            %input.aboutUser{'type' => 'checkbox'}
        .watchAreaContent.loggedOut{'style' => 'display:none;'}
          %img.icon{:src => '../images/no-icon.png'}
          Login to
          %a{'href' => 'https://github.com/login', 'target' => '_blank'}github.com
          to be notified about you.

      .watchArea{'data-type' => 'username'}
        %h2 Users:
        .watchAreaContent
          %ul.watchedNames
          %form
            %img.icon{:src => '../images/no-icon.png'}
            %input.nameInputField{:type => 'text', :placeholder => 'e.g. tj'}
            %input.watchButton{:type => 'submit', :value => 'Follow'}

      .watchArea{'data-type' => 'reponame'}
        %h2 Repositories:
        .watchAreaContent
          %ul.watchedNames
          %form
            %img.icon{:src => '../images/no-icon.png'}
            %input.nameInputField{:type => 'text', :placeholder => 'e.g. joyent/node'}
            %input.watchButton{:type => 'submit', :value => 'Watch'}

    %footer
      %span
        &copy; 2012-2013 Ryunosuke SATO. All rights reserved.
