!!! 5
%html
  %head
    %script{:src => 'http://code.jquery.com/jquery-1.7.1.min.js'}
    %script{:src => 'js/lib/EventEmitter.js'}
    %script{:src => 'js/browser_action.js'}
  %body
    %h1
      Gh config

    .watchArea{'data-type' => 'username'}
      %form
        %input.nameInputField{:type => 'text', :placeholder => 'Input usename'}
        %input.watchButton{:type => 'submit', :value => 'Watch user'}
      %ul.watchedNames

    .watchArea{'data-type' => 'reponame'}
      %form
        %input.nameInputField{:type => 'text', :placeholder => 'Input repo'}
        %input.watchButton{:type => 'submit', :value => 'Watch repository'}
      %ul.watchedNames
